fastapi
uvicorn[standard]
pydantic # data validation
requests
openai-whisper # for speech-to-text
av # for audio/video processing
torch
torchaudio
# git+https://github.com/m-bain/whisperx.git
vosk
PyYAML